# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Finder (MacOS) folder config
.DS_Store

# Astro files
.astro/
dist/

# Deployment testing files
.vercel

# IDE Files
.idea/
.vscode/
.zed/
