<section class="about" id="about">
  <div class="container">
    <div class="about__grid">
      <div class="about__grid-item image">
        <img src="/assets/img/about-2x.webp" alt="" />
      </div>
      <div class="about__grid-item content">
        <h2>About <span>Ladybird</span></h2>
        <p>
          Ladybird is a brand-new browser &amp; web engine. Driven by a web
          standards first approach, Ladybird aims to render the modern web with
          good performance, stability and security.
        </p>
        <p>
          From its humble beginnings as an HTML viewer for the SerenityOS hobby
          operating system project, Ladybird has since grown into a
          cross-platform browser supporting Linux, macOS, and other Unix-like
          systems.
        </p>
        <p>
          Ladybird is currently in heavy development. We are targeting a first
          Alpha release for early adopters in 2026.
        </p>
      </div>
    </div>
  </div>
</section>
