---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about" class="text-[#fff] bg-[#000] pt-12 lg:pt-0 px-4">
  <div class="container">
    <div
      class="grid grid-cols-[1fr] lg:grid-cols-[1fr_1fr] items-center gap-16"
    >
      <div class="-my-4 order-2 lg:order-1">
        <img src="/assets/img/about.webp" alt="" />
      </div>
      <div class="order-1 lg:order-2">
        <h2 class="mb-1">{t("about.title")} <span>Ladybird</span></h2>
        <p class="mb-5 max-w-96">
          {t("about.firstParagraph")}
        </p>
        <p class="mb-5 max-w-96">
          {t("about.secondParagraph")}
        </p>
        <p class="mb-5 max-w-96">
          {t("about.thirdParagraph")}
        </p>
      </div>
    </div>
  </div>
</section>
