<section id="about" class="text-white bg-black pt-12 lg:pt-0 px-4">
  <div class="container">
    <div
      class="grid grid-cols-[1fr] lg:grid-cols-[1fr_1fr] items-center gap-16"
    >
      <div class="-my-4 order-2 lg:order-1">
        <img src="/assets/img/about.webp" alt="" />
      </div>
      <div class="order-1 lg:order-2">
        <h2 class="mb-1">About <span>Ladybird</span></h2>
        <p class="mb-5 max-w-96">
          Ladybird is a brand-new browser &amp; web engine. Driven by a web
          standards first approach, Ladybird aims to render the modern web with
          good performance, stability and security.
        </p>
        <p class="mb-5 max-w-96">
          From its humble beginnings as an HTML viewer for the SerenityOS hobby
          operating system project, Ladybird has since grown into a
          cross-platform browser supporting Linux, macOS, and other Unix-like
          systems.
        </p>
        <p class="mb-5 max-w-96">
          Ladybird is currently in heavy development. We are targeting a first
          Alpha release for early adopters in 2026.
        </p>
      </div>
    </div>
  </div>
</section>
