<section class="donate">
  <div class="container">
    <div
      class="relative z-10 -top-4 text-[#fff] bg-[url('/assets/img/blurp.webp')] bg-center bg-cover mb-12 flex justify-center"
    >
      <div class="p-6 md:p-8 lg:px-16 lg:py-10">
        <h2 class="text-3xl lg:text-4xl mb-[0.8em] lg:mb-[0.4em]">
          Become a <span>Ladybird</span> supporter
        </h2>
        <p class="mb-5 max-w-2xl">
          Ladybird is funded entirely by sponsorships and donations from people
          and companies who care about the open web.
          <p class="mb-5 max-w-2xl">
            We accept one-time and recurring monthly donations via <a
              href="https://donorbox.org/ladybird">Donorbox</a
            >.
            <p class="mb-5 max-w-2xl">
              If you or your company would like to make a large donation, we
              would be happy to display your logo on this website! Please <a
                href="mailto:contact@ladybird.org">contact us</a
              > about becoming a sponsor.
            </p>
          </p>
        </p>
      </div>
    </div>

    <section class="faq xl:mx-32 md:mx-16">
      <div class="container">
        <div class="faq__tf">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq__wrapper">
          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">When is it coming?</div>
              <div class="ac-panel-text">
                We are targeting Summer 2026 for a first Alpha version on Linux
                and macOS. This will be aimed at developers and early adopters.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">
                How many people are working on the browser today?
              </div>
              <div class="ac-panel-text">
                We currently have 4 paid full-time engineers working on
                Ladybird. There is also a large community of volunteer
                contributors.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">What's the hiring plan?</div>
              <div class="ac-panel-text">
                We have 3 new full-time engineers starting soon. Going forward,
                we would like to grow the team at a reasonable pace. Building
                the right team is more important than building it quickly.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">
                What does "No code from other browsers" really mean?
              </div>
              <div class="ac-panel-text">
                The focus of the Ladybird project is to build a new browser
                engine from the ground up. We don't use code from Blink, WebKit,
                Gecko, or any other browser engine.
                <br /><br />
                For historical reasons, the browser uses various libraries from the
                SerenityOS project, which has a strong culture of writing
                <i>everything</i> from scratch. Now that Ladybird has forked from
                SerenityOS, it is no longer bound by this culture, and we will be
                making use of 3rd party libraries for common functionality (e.g image/audio/video
                formats, encryption, graphics, etc.)
                <br /><br />
                We are already using some of the same 3rd party libraries that other
                browsers use, but we will never adopt another browser engine instead
                of building our own.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">Will Ladybird work on Windows?</div>
              <div class="ac-panel-text">
                We don't have anyone actively working on Windows support, and
                there are considerable changes required to make it work well
                outside a Unix-like environment.
                <br /><br />
                We would like to do Windows eventually, but it's not a priority at
                the moment.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">
                Will Ladybird work on mobile devices?
              </div>
              <div class="ac-panel-text">
                We don't have anyone actively working on an Android or iOS port.
                More effort will be put into mobile once we have the desktop
                versions in a good state.
                <br /><br />
                While there is the start of an Android port in the project repository,
                mobile is not a priority at the moment.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">What are the sponsor tiers?</div>
              <div class="ac-panel-text">
                <table class="sponsor-tiers">
                  <tr>
                    <td>Platinum</td>
                    <td>USD $100,000</td>
                  </tr>
                  <tr>
                    <td>Gold</td>
                    <td>USD $50,000</td>
                  </tr>
                  <tr>
                    <td>Silver</td>
                    <td>USD $10,000</td>
                  </tr>
                  <tr>
                    <td>Bronze</td>
                    <td>USD $5,000</td>
                  </tr>
                </table>
                <br />
                Sponsorships run for one year, then you are welcome to renew.
                <br /><br />
                Sponsors will have their logos displayed on our website, and will
                be thanked in updates / on social media.
                <br /><br />
                Please <a href="mailto:contact@ladybird.org">contact us</a> if you
                are interested in sponsorship.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">
                How can you be "independent" if you have sponsors?
              </div>
              <div class="ac-panel-text">
                All sponsorships are in the form of unrestricted donations.
                Board seats and other forms of influence are not for sale.
              </div>
            </div>
          </div>

          <div class="ac">
            <div class="ac-header-number"><div>?</div></div>
            <div>
              <div class="ac-header-title">
                Why build a new browser in C++ when safer and more modern
                languages are available?
              </div>
              <div class="ac-panel-text">
                Ladybird started as a component of the SerenityOS hobby project,
                which only allows C++. The choice of language was not so much a
                technical decision, but more one of personal convenience.
                Andreas was most comfortable with C++ when creating SerenityOS,
                and now we have almost half a million lines of modern C++ to
                maintain.
                <br /><br />
                However, now that Ladybird has forked and become its own independent
                project, all constraints previously imposed by SerenityOS are no
                longer in effect. We are actively evaluating a number of alternatives
                and will be adding a mature successor language to the project in
                the near future. This process is already quite far along, and prototypes
                exist in multiple languages.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
