<section class="donate">
  <div class="container">
    <div
      class="relative z-10 -top-4 text-[#fff] bg-[url('/assets/img/blurp.webp')] bg-center bg-cover mb-12 flex justify-center"
    >
      <div class="p-6 md:p-8 lg:px-16 lg:py-10">
        <h2 class="text-3xl lg:text-4xl mb-[0.8em] lg:mb-[0.4em]">
          Become a <span>Ladybird</span> supporter
        </h2>
        <p class="mb-5 max-w-2xl">
          Ladybird is funded entirely by sponsorships and donations from people
          and companies who care about the open web.
          <p class="mb-5 max-w-2xl">
            We accept one-time and recurring monthly donations via <a
              href="https://donorbox.org/ladybird">Donorbox</a
            >.
            <p class="mb-5 max-w-2xl">
              If you or your company would like to make a large donation, we
              would be happy to display your logo on this website! Please <a
                href="mailto:contact@ladybird.org">contact us</a
              > about becoming a sponsor.
            </p>
          </p>
        </p>
      </div>
    </div>
  </div>
</section>
