---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="donate">
  <div class="container">
    <div
      class="relative z-10 -top-4 text-[#fff] bg-[url('/assets/img/blurp.webp')] bg-center bg-cover mb-12 flex justify-center"
    >
      <div class="p-6 md:p-8 lg:px-16 lg:py-10">
        <h2 class="text-3xl lg:text-4xl mb-[0.8em] lg:mb-[0.4em]">
          {t("donate.title")}
          <span>Ladybird</span>
          {t("donate.titlePart2")}
        </h2>
        <p class="mb-5 max-w-2xl">
          {t("donate.paragraph")}
          <p class="mb-5 max-w-2xl">
            {t("donate.paragraph2")}
            <a href="https://donorbox.org/ladybird">Donorbox</a>.
            <p class="mb-5 max-w-2xl">
              {t("donate.paragraph3")}
              <a href="mailto:contact@ladybird.org"
                >{t("donate.paragraph3Link")}</a
              >
              {t("donate.paragraph3Part2")}
            </p>
          </p>
        </p>
      </div>
    </div>
  </div>
</section>
