---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="faq" class="faq xl:mx-32 md:mx-16">
  <div class="container">
    <div class="faq__tf">
      <h2>{t("faq.title")}</h2>
    </div>

    <div class="faq__wrapper">
      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">{t("faq.question1.title")}</div>
          <div class="ac-panel-text">
            {t("faq.question1.paragraph")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">
            {t("faq.question2.title")}
          </div>
          <div class="ac-panel-text">
            {t("faq.question2.paragraph")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">{t("faq.question3.title")}</div>
          <div class="ac-panel-text">
            {t("faq.question3.paragraph")}
            <br /><br />
            {t("faq.question3.paragraph2")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">
            {t("faq.question4.title")}
          </div>
          <div class="ac-panel-text">
            {t("faq.question4.paragraph")}
            <br /><br />
            {t("faq.question4.paragraph2")}
            <i>{t("faq.question4.paragraph2Italic")}</i>
            {t("faq.question4.paragraph2Part2")}
            <br /><br />
            {t("faq.question4.paragraph3")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">{t("faq.question5.title")}</div>
          <div class="ac-panel-text">
            {t("faq.question5.paragraph")}
            <br /><br />
            {t("faq.question5.paragraph2")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">
            {t("faq.question6.title")}
          </div>
          <div class="ac-panel-text">
            {t("faq.question6.paragraph")}
            <br /><br />
            {t("faq.question6.paragraph2")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">{t("faq.question7.title")}</div>
          <div class="ac-panel-text">
            <table class="sponsor-tiers">
              <tr>
                <td>{t("sponsors.platinum")}</td>
                <td>USD $100,000</td>
              </tr>
              <tr>
                <td>{t("sponsors.gold")}</td>
                <td>USD $50,000</td>
              </tr>
              <tr>
                <td>{t("sponsors.silver")}</td>
                <td>USD $10,000</td>
              </tr>
              <tr>
                <td>{t("sponsors.bronze")}</td>
                <td>USD $5,000</td>
              </tr>
            </table>
            <br />
            {t("faq.question7.paragraph")}
            <br /><br />
            {t("faq.question7.paragraph2")}
            <br /><br />
            {t("faq.question7.paragraph3")}
            <a href="mailto:contact@ladybird.org"
              >{t("faq.question7.paragraph3Link")}</a
            >
            {t("faq.question7.paragraph3part2")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">
            {t("faq.question8.title")}
          </div>
          <div class="ac-panel-text">
            {t("faq.question8.paragraph")}
          </div>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header-number"><div>?</div></div>
        <div>
          <div class="ac-header-title">
            {t("faq.question9.title")}
          </div>
          <div class="ac-panel-text">
            {t("faq.question9.paragraph")}
            <br /><br />
            {t("faq.question9.paragraph2")}

            <br /><br />
            {t("faq.question9.paragraph3")}
            <a href="https://swift.org">Swift</a>
            {t("faq.question9.paragraph3Part2")}
            <a href="https://x.com/awesomekling/status/1822236888188498031"
              >{t("faq.question9.paragraph3MoreBackgroundLink")}</a
            > )
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
