---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="gi" class="gi">
  <div class="container">
    <div class="gi__tf">
      <h2>{t("gi.title")}</h2>
      <p>
        {t("gi.firstParagraph")}
      </p>
      <p>
        {t("gi.secondParagraph")}
        <a href="https://discord.gg/nvfjVJ4Svh"
          >{t("gi.secondParagraphDiscordLink")}</a
        >.
      </p>
      <p>
        {t("gi.thirdParagraph")}
        <a href="https://github.com/LadybirdBrowser/ladybird">GitHub</a>. {
          t("gi.thirdParagraphSecondPart")
        }
      </p>
      <div class="space-y-2">
        <a href="https://discord.gg/nvfjVJ4Svh" class="btn"
          >{t("gi.joinDiscord")}</a
        >
        <a href="https://github.com/LadybirdBrowser/ladybird" class="btn"
          >{t("gi.getTheCode")}</a
        >
      </div>
    </div>
  </div>
  <div class="gi__image"></div>
</section>
