---
import { Icon } from "astro-icon/components";
---

<section id="gi" class="gi">
  <div class="container">
    <div class="gi__tf">
      <h2>Get Involved</h2>
      <p>
        Ladybird is currently in heavy development, and there's work to be done
        in all areas of the browser.
      </p>
      <p>
        We're welcoming new developers every week. The main community hub is
        <a href="https://discord.gg/nvfjVJ4Svh">our Discord server</a>.
      </p>
      <p>
        All the code is hosted on
        <a href="https://github.com/LadybirdBrowser/ladybird">GitHub</a>. Clone
        it, build it, and join our Discord if you want to collaborate on it!
        We're looking forward to seeing you there.
      </p>
      <div class="py-2 flex flex-col sm:flex-row gap-4">
        <a href="https://discord.gg/nvfjVJ4Svh" class="btn">
          <Icon name="mdi:discord" class="size-6" />
          Join Discord
        </a>
        <a href="https://github.com/LadybirdBrowser/ladybird" class="btn">
          <Icon name="mdi:code" class="size-6" />
          Get the code
        </a>
      </div>
    </div>
  </div>
  <div class="gi__image"></div>
</section>
