<section
  class="bg-black relative flex flex-col items-center pt-[80px] px-5 pb-0 lg:flex-row lg:pt-0 lg:min-h-[892px]"
>
  <div class="container">
    <div class="max-w-[800px] relative z-2">
      <h1 class="text-white mb-4!">
        Welcome to <span
          class="bg-clip-text text-transparent bg-linear-to-r from-[#6d98cc] to-[#8a64e5]"
          style="-webkit-background-clip: text;">Ladybird</span
        >,<br />a truly independent<br />web browser.
      </h1>
      <p class="mb-8! text-white">
        We are building a brand-new browser from scratch, backed by a
        non-profit.
      </p>
      <a href="/#gi" class="btn z-10">Get Involved</a>
    </div>
  </div>
  <div
    class="relative top-0 right-0 bg-[url('/assets/img/hero.webp')] bg-no-repeat bg-cover w-full h-[535px] max-w-[600px] max-h-[695px] block mt-10 lg:absolute lg:top-[105px] lg:h-[695px] lg:m-0"
  >
  </div>
</section>
