<section class="hero">
  <div class="container">
    <div class="hero__tf">
      <h1>
        Welcome to <span>Ladybird</span>,<br />a truly independent<br />web
        browser.
      </h1>
      <p>
        We are building a brand-new browser from scratch, backed by a
        non-profit.
      </p>
      <a href="/#gi" class="btn">Get Involved</a>
    </div>
  </div>
  <div class="hero__image"></div>
</section>
