<section class="news" id="news">
  <div class="news__eclipse"></div>
  <div class="container">
    <div class="news__top">
      <h2>News &amp; Announcements</h2>
    </div>
    <div class="news__grid">
      <a href="/announcement">
        <div class="news__box">
          <div class="news__box-image">
            <div class="news__box-category">
              <span>Announcement</span>
            </div>
            <img src="/assets/img/plant.webp" alt="" />
          </div>
          <h4>The Ladybird Browser Initiative</h4>
          <p>Announcing our 501(c)(3) non-profit.</p>
        </div>
      </a>
      <a href="/why-ladybird">
        <div class="news__box">
          <div class="news__box-image">
            <div class="news__box-category">
              <span>Thoughts</span>
            </div>
            <img src="/assets/img/katica.webp" alt="" />
          </div>
          <h4>Why we need Ladybird</h4>
          <p>Co-founder Chris Wanstrath shares his thoughts.</p>
        </div>
      </a>
      <a
        href="https://awesomekling.substack.com/p/forking-ladybird-and-stepping-down-serenityos"
      >
        <div class="news__box">
          <div class="news__box-image">
            <div class="news__box-category">
              <span>Announcement</span>
            </div>
            <img src="/assets/img/fork.webp" alt="" />
          </div>
          <h4>Ladybird forks from SerenityOS</h4>
          <p>Read the full announcement.</p>
        </div>
      </a>
    </div>
  </div>
</section>
