<section class="sponsors" id="sponsors">
  <div class="sponsors__eclipse-big"></div>
  <div class="sponsors__eclipse-medium"></div>
  <div class="container">
    <h2 class="text-center">Sponsors</h2>
    <div class="sponsors__wrapper">
      <div class="sponsors__block">
        <div class="sponsors__title">
          <span class="sponsors__title-line"></span>
          <span class="sponsors__title-text">Platinum</span>
          <span class="sponsors__title-line"></span>
        </div>
        <div class="sponsors__grid">
          <div class="sponsors__grid-item">
            <a href="https://www.shopify.com/"
              ><img src="/assets/img/sponsor-shopify.svg" alt="Shopify" /></a
            >
          </div>
        </div>
      </div>

      <div class="sponsors__block">
        <div class="sponsors__title">
          <span class="sponsors__title-line"></span>
          <span class="sponsors__title-text">Silver</span>
          <span class="sponsors__title-line"></span>
        </div>
        <div class="sponsors__grid">
          <div class="sponsors__grid-item">
            <a href="https://www.pch.net/"
              ><img
                src="/assets/img/sponsor-pch.svg"
                alt="Packet Clearing House"
              /></a
            >
          </div>
          <div class="sponsors__grid-item">
            <a href="https://www.null.com/"
              ><img src="/assets/img/sponsor-null.svg" alt="Null Games" /></a
            >
          </div>
          <div class="sponsors__grid-item">
            <a href="https://www.playb.it/"
              ><img src="/assets/img/sponsor-playbit.svg" alt="Playbit" /></a
            >
          </div>
          <div class="sponsors__grid-item">
            <a href="https://www.ohne-makler.net/"
              ><img
                src="/assets/img/sponsor-ohne-makler.svg"
                alt="ohne-makler.net"
              /></a
            >
          </div>
        </div>
      </div>

      <div class="sponsors__block">
        <div class="sponsors__title">
          <span class="sponsors__title-line"></span>
          <span class="sponsors__title-text">Bronze</span>
          <span class="sponsors__title-line"></span>
        </div>
        <div class="sponsors__grid">
          <div class="sponsors__grid-item">
            <a href="https://www.tuple.app/"
              ><img src="/assets/img/sponsor-tuple.svg" alt="Tuple" /></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
