<section class="why">
  <div class="why__eclipse"></div>
  <div class="container">
    <div class="why__top">
      <div class="why__top-left">
        <h2>What makes <span>Ladybird</span> unique</h2>
      </div>
    </div>

    <div class="why__slider">
      <div class="swiper-slide">
        <div class="why__slide">
          <div class="why__slide-icon lightpurple">
            <img src="/assets/img/truly-independent.svg" alt="star symbol" />
          </div>
          <div class="why__slide-tf">
            <h3 class="text-lg text-white font-semibold mb-3">
              Truly independent
            </h3>
            <p class="text-white">
              No code from other browsers. We're building a new engine, based on
              web standards.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="why__slide">
          <div class="why__slide-icon darkpurple">
            <img src="/assets/img/single-focus.svg" alt="target symbol" />
          </div>
          <div class="why__slide-tf">
            <h3 class="text-lg text-white font-semibold mb-3">
              Singular focus
            </h3>
            <p class="text-white">
              We are focused on one thing: the web browser.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="why__slide">
          <div class="why__slide-icon lightgrey">
            <img
              src="/assets/img/no-monetization.svg"
              alt="crossed out money symbol"
            />
          </div>
          <div class="why__slide-tf">
            <h3 class="text-lg text-white font-semibold mb-3">
              No monetization
            </h3>
            <p class="text-white">
              No "default search deals", crypto tokens, or other forms of user
              monetization, ever.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
