---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="why">
  <div class="why__eclipse"></div>
  <div class="container">
    <div class="why__top">
      <div class="why__top-left">
        <h2>
          {t("why.title")}<span>Ladybird</span>
          {t("why.titlePart2")}
        </h2>
      </div>
    </div>

    <div class="why__slider">
      <div class="swiper-slide">
        <div class="why__slide">
          <div class="why__slide-icon lightpurple">
            <img src="/assets/img/truly-independent.svg" alt="star symbol" />
          </div>
          <div class="why__slide-tf">
            <h4>{t("why.card.title")}</h4>
            <p>
              {t("why.card.paragraph")}
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="why__slide">
          <div class="why__slide-icon darkpurple">
            <img src="/assets/img/single-focus.svg" alt="target symbol" />
          </div>
          <div class="why__slide-tf">
            <h4>{t("why.card2.title")}</h4>
            <p>{t("why.card2.paragraph")}</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="why__slide">
          <div class="why__slide-icon lightgrey">
            <img
              src="/assets/img/no-monetization.svg"
              alt="crossed out money symbol"
            />
          </div>
          <div class="why__slide-tf">
            <h4>{t("why.card3.title")}</h4>
            <p>
              {t("why.card3.paragraph")}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
