@font-face {
    font-family: 'General Sans';
    font-weight: 400;
    src: url('GeneralSans-Regular.otf');
}

@font-face {
    font-family: 'General Sans';
    font-weight: 500;
    src: url('GeneralSans-Medium.otf');
}

@font-face {
    font-family: 'General Sans';
    font-weight: 600;
    src: url('GeneralSans-Semibold.otf');
}

