@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lb-sky: #6d98cc;
  --lb-purple: #8a64e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "General Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }

  .container.container-narrow {
    max-width: 759px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-left: 18px;
  padding-right: 18px;
  min-width: 170px;
  min-height: 60px;
  background: linear-gradient(45deg, var(--lb-purple), var(--lb-sky));
  color: #fff;
  border-radius: 100px;
  transition: all 200ms;
  /* text-shadow: #000 1px 0 2px; */
}

.btn:hover {
  background-position: left center;
  transform: scale(1.02);
  filter: contrast(1.2);
}

.btn--small {
  min-width: 164px;
  min-height: 52px;
}

.btn--black {
  background: #000;
  color: #fff;
}

h1,
h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  /*letter-spacing: 1.2px;*/
  margin: 0;
}

@media (min-width: 991px) {
  h1,
  h2 {
    font-size: 60px;
    line-height: 150%;
  }
}

@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 35px;
  }
}

h1 span,
h2 span {
  background-image: linear-gradient(var(--lb-sky), var(--lb-purple));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h4 {
  font-size: 20px;
  margin: 0;
  line-height: 150%;
  /*letter-spacing: 1.2px;*/
  font-weight: 600;
}

p {
  line-height: 150%;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

a {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.5s ease;
}

header a, footer a {
  color: #fff;
}

.hero {
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px 20px 0 20px;
  flex-direction: column;
}

.hero_single {
  min-height: 300px;
}

@media (min-width: 991px) {
  .hero {
    flex-direction: row;
    padding-top: 0;
    min-height: 892px;
  }

  .hero_single {
    min-height: 450px;
  }
}

.why {
  background-color: #000;
  position: relative;
  padding: 140px 20px 5px 20px;
}

.why__eclipse {
  position: absolute;
  top: -200px;
  left: 0;
  z-index: 0;
  background-image: url("../../../assets/img/why-eclipse.svg");
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: cover;
  max-width: 697px;
  width: 100%;
  height: 1117px;
  display: block;
}

.why__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

@media (min-width: 991px) {
  .why__top {
    flex-direction: row;
    gap: initial;
    text-align: left;
  }
}

.why__top h2 {
  margin-bottom: 12px;
  color: #fff;
}

.why__bottom {
  text-align: right;
}

.why__slider {
  margin-bottom: 100px;
}

@media (min-width: 991px) {
  .why__slider {
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .why__slide {
    height: calc(100% - 32px);
  }
}

.why__slide {
  position: relative;
  padding: 40px;
  margin-bottom: 40px;
}

.why__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 7%;
  border-radius: 25px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.why__slide-icon {
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.why__slide-icon.lightgrey {
  background-color: var(--lb-sky);
}

.why__slide-icon.lightpurple {
  background-color: var(--lb-purple);
}

.why__slide-icon.darkpurple {
  background-color: #2a1373;
}

.why__slide h4 {
  margin-bottom: 14px;
  color: #fff;
}

.why__slide p {
  color: #fff;
}

.news {
  position: relative;
  margin: 30px 20px 100px 20px;
}

@media (min-width: 991px) {
  .news {
    margin-bottom: 140px;
  }
}

.news__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.news img {
  border-radius: 24px;
  aspect-ratio: 5/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__eclipse {
  position: absolute;
  top: 0;
  left: -30px;
  z-index: 0;
  background-image: url("../../../assets/img/news-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 688px;
  width: 100%;
  height: 1117px;
  display: block;
}

.news__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 56px;
}

@media (min-width: 768px) {
  .news__grid {
    grid-template-columns: 1fr 1fr;
    gap: 36px;
  }
}

@media (min-width: 991px) {
  .news__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news__box {
  position: relative;
  max-width: 360px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 300ms;
}

.news__box:hover {
  background-color: #8a64e533;
}

@media (min-width: 991px) {
  .news__box {
    margin: 0;
  }
}

.news__box-image {
  margin-bottom: 15px;
}

.news__box-category {
  position: absolute;
  top: -9px;
  left: 40px;
  letter-spacing: 20px;
}

.news__box-category span {
  background: #8a64e5;
  border: 3px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 13px;
}

.news__box h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
}

.news__box p {
  color: #444345;
}

.gi {
  position: relative;
  min-height: 720px;
  display: flex;
  align-items: center;
  margin-bottom: 135px;
  padding: 0 20px;
}

.gi__tf {
  max-width: 480px;
  position: relative;
  z-index: 2;
}

.gi__tf h2 {
  margin-bottom: 20px;
}

.gi p {
  color: #444345;
  margin-bottom: 24px;
}

.gi__image {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../../assets/img/get-involved.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  background-position: center;
}

@media (min-width: 768px) {
  .gi__image {
    width: 50%;
    height: 100%;
    left: unset;
    background-position: initial;
  }
}

.sponsors__eclipse-big {
  position: absolute;
  top: -200px;
  right: 0;
  z-index: 0;
  background-image: url("../../../assets/img/sponsors-big-eclipse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 829px;
  height: 1117px;
  display: block;
}

.sponsors__eclipse-medium {
  position: absolute;
  top: 250px;
  left: 0;
  z-index: 0;
  background-image: url("../../../assets/img/sponsors-medium-eclipse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 829px;
  width: 100%;
  height: 1117px;
  display: block;
}

.faq {
  position: relative;
  padding: 0 20px 140px 20px;
}

@media (min-width: 991px) {
  .faq {
    padding: 0 20px 220px 20px;
  }
}

.faq__eclipse {
  position: absolute;
  top: -200px;
  right: 0;
  z-index: 0;
  background-image: url("../../../assets/img/faq-eclipse-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 825px;
  display: block;
}

.faq__eclipse2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: url("../../../assets/img/faq-eclipse-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 825px;
  display: block;
}

.faq__tf {
  margin-bottom: 25px;
  text-align: center;
}

.faq__tf h2 {
  margin-bottom: 12px;
}

.faq__tf p {
  max-width: 790px;
  margin: 0 auto;
  color: #444345;
}

.faq__wrapper .ac {
  margin: 0 0 14px 0;
  background-color: #fff;
  border: 6px solid #fff;
  border-radius: 30px;
  box-shadow: 0 0 8px 0 rgba(202, 205, 226, 0.3803921569);
  display: flex;
  padding: 8px;
}

.faq__wrapper .ac-header-number {
  color: #8a64e5;
  font-size: 36px;
  font-weight: 500;
  border: 3px solid #8a64e5;
  border-radius: 9999px;
  margin-left: 24px;
  margin-right: 24px;
  box-sizing: content-box;
  height: 2.5ch;
}

.faq__wrapper .ac-header-number > div {
  text-align: center;
  width: 2.5ch;
}

.faq__wrapper .ac-header-title {
  color: #000;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  display: block;
}

@media (min-width: 991px) {
  .faq__wrapper .ac {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .faq__wrapper .ac-header-title {
    font-size: 22px;
    line-height: 150%;
  }
}

@media (max-width: 768px) {
  .faq__wrapper .ac-header-number {
    display: none;
  }
  .faq__wrapper .ac {
    padding: 15px;
  }
}

.faq__wrapper .ac-panel-text {
  color: #444345;
  line-height: 140%;
  font-size: 18px;
}

@media (min-width: 991px) {
  .faq__wrapper .ac-panel-text {
    font-size: 20px;
  }
}

.custom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 767px) {
  .custom-row {
    flex-flow: row nowrap;
    gap: 38px;
  }
}

.custom-row img {
  margin-bottom: 30px;
}

.single-content {
  padding: 100px 20px 113px;
  z-index: 10;
  position: relative;
  background: white;
}

.single-content img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-content:has(+ section) {
  padding-bottom: 0;
}

.single-content h2 {
  font-size: 48px;
  letter-spacing: 0.3px;
}

.single-content h3 {
  font-size: 32px;
  letter-spacing: 0.3px;
}

.single-content h4 {
  font-size: 24px;
  letter-spacing: 0.3px;
}

.single-content hr {
  margin: 48px 0;
  border-top: 1px solid rgba(3, 2, 4, 0.16);
}

.single-content ul {
  padding-left: 20px;
  line-height: 1.5;
}

.single-content ul.share-list {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 21px;
  color: #030204;
}

.single-content ul.share-list a {
  color: #030204;
}

.single-content p,
.single-content ul,
.single-content a {
  /* color: rgba(3, 2, 4, 0.55); */
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
}

.single-content p.bigger-text,
.single-content ul.bigger-text {
  font-size: 24px;
}

blockquote {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 16px;
  border-left: 3px solid var(--lb-sky);
  margin: 0 0 25px;
  background: var(--Linear, linear-gradient(90deg, var(--lb-sky) 0%, var(--lb-purple) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 1.5;
}

.news-teaser {
  padding: 114px 20px 0;
  margin: 0;
}

@media (max-width: 990px) {
  .news-teaser {
    padding-bottom: 115px;
  }
}

.news-teaser p {
  color: rgba(3, 2, 4, 0.55);
}

.news-teaser .news__grid {
  margin-top: 63px;
}

@media (min-width: 991px) {
  .news {
    margin-bottom: 140px;
  }
}

.form-subscribe {
  color: #000;
}

.form-subscribe * {
  color: inherit;
}

.form-group {
  display: flex;
  max-width: 267px;
  width: 100%;
  padding: 6px 6px 6px 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.1);
  background: white;
  box-shadow: 5px 5px 60px 0px rgba(0, 0, 0, 0.66);
  margin-top: 12px;
}

.form-group button[type="submit"] {
  background: none;
  padding: 0;
  border: none;
  appearance: none;
  height: 38px;
  width: 38px;
  min-width: 38px;
  cursor: pointer;
}

.form-control {
  background: none !important;
  border: none !important;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: #000;
  opacity: 0.5;
}

table.sponsor-tiers td {
  padding-right: 30px;
}

table.sponsor-tiers td:first-child {
  font-weight: bold;
}

div.newsletter-image-caption {
  text-align: center;
  font-size: 0.6em;
  margin-top: -3em;
  margin-bottom: 3em;
}

div.newsletter-image-caption a {
  font-size: inherit;
  letter-spacing: inherit;
}

th {
  font-weight: 600;
}
