---
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
  <section class="hero hero_single">
    <div class="container custom-row">
      <div class="hero__tf">
        <label><span>Announcement</span> | July 1st 2024</label>
        <h1>Announcing the<br />Ladybird Browser Initiative</h1>
      </div>
    </div>
  </section>

  <section class="single-content">
    <div class="container container-narrow">
      <p>
        Hello friends! Today I want to share with you our plans for the next
        chapter of Ladybird, the truly independent, open source web browser
        we've been developing from scratch for the past few years.
      </p>
      <p>
        Ladybird uses a brand new engine based on web standards, without
        borrowing any code from other browsers. It started as a humble HTML
        viewer for the SerenityOS hobby project, but since then it's grown into
        a full cross-platform browser project supporting Linux, macOS, and other
        Unix-like systems.
      </p>
      <p>
        We can already do some of our daily browsing with Ladybird, like
        managing GitHub issues and pull requests, and commenting on Hacker News.
        The browser is improving every day, as our community of contributors are
        actively fixing bugs and adding features.
      </p>
      <p>
        But it's still very far from finished. We want to turn Ladybird into a
        browser that you can use every day for all your web-related tasks. It
        should be fast, stable, support web standards, and protect your privacy.
        A browser for you.
      </p>
      <p>
        In order to help us achieve this goal, we've created the
        <b>Ladybird Browser Initiative</b>, a US 501(c)(3) non-profit
        <i>(tax-exempt status pending)</i>
        to drive work on the browser and make it easier for supporters of all shapes
        &amp; sizes to sponsor development.
      </p>
      <p>
        Unlike traditional business models that rely on monetizing the user,
        Ladybird is funded entirely by sponsorships and donations from companies
        and individuals who care about the open web. Our non-profit will not
        pursue corporate deals or revenue outside of unrestricted donations. The
        software and its source code will be available for free, forever.
      </p>
      <p>
        Our board will consist of experts from a diverse range of world-views
        and skillsets, not donors. We are starting small and we'll be adding
        more directors this year.
      </p>
      <p>The inaugural board of directors:</p>
      <ul>
        <li>
          <b>Andreas Kling</b> (President): Project founder and lead developer. Past:
          Apple Safari, Nokia (WebKit), KHTML.
        </li>
        <li>
          <b>Chris Wanstrath</b> (Secretary &amp; Treasurer): Current: Unannounced
          Game Engine, Null Games, Computer History Museum. Past: GitHub co-founder
          &amp; CEO.
        </li>
      </ul>
      <p>
        Our goal is not an easy one: a useful browser for the contemporary web,
        in the hands of users. It's going to take some time, but we're well on
        our way already!
      </p>
      <p>
        For more information and to support us on our mission, please visit
        <a href="https://ladybird.org/">ladybird.org</a>.
      </p>
    </div>
  </section>
</BaseLayout>
