---
import BaseLayout from "@/layouts/base.astro";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "de" } }];
}
---

<BaseLayout
  title="Payment details"
  description="Ladybird Browser Initiative bank account details"
>
  <div class="min-h-screen">
    <section class="hero hero_single">
      <div class="container custom-row">
        <div class="hero__tf">
          <h1 class="text-[#fff]">Payment details</h1>
        </div>
      </div>
    </section>
    <section class="single-content">
      <div class="container">
        <table class="text-left">
          <tr>
            <th class="pe-5">Beneficiary account name</th>
            <td>Ladybird Browser Initiative</td>
          </tr>
          <tr>
            <th class="pe-5">Beneficiary account number</th>
            <td>80011453086</td>
          </tr>
          <tr>
            <th class="pe-5">Beneficiary address</th>
            <td>2261 Market Street STE 10029, San Francisco, CA 94114-1612</td>
          </tr>
          <tr>
            <th class="pe-5">Bank name</th>
            <td>JPMorgan Chase Bank, N.A.</td>
          </tr>
          <tr>
            <th class="pe-5">Bank address</th>
            <td>383 Madison Avenue, New York, United States</td>
          </tr>
          <tr>
            <th class="pe-5">Bank SWIFT code</th>
            <td>CHASUS33XXX</td>
          </tr>
          <tr>
            <th class="pe-5">ACH routing code</th>
            <td>322271627</td>
          </tr>
          <tr>
            <th class="pe-5">Wire routing code</th>
            <td>021000021</td>
          </tr>
          <tr>
            <th class="pe-5">EIN</th>
            <td>99-2154861</td>
          </tr>
        </table>
        <p class="mt-16">
          Please <a href="mailto:contact@ladybird.org">contact us</a> if you have
          any questions.
        </p>
      </div>
    </section>
  </div>
</BaseLayout>
