<section class="hero hero_single">
  <div class="container custom-row">
    <div class="hero__tf">
      <h1 class="text-[#fff]">Organization</h1>
    </div>
  </div>
</section>
<section id="intiative" class="single-content initiative">
  <div class="container container-narrow">
    <h2 class="mb-4">The Ladybird Browser Initiative</h2>
    <p>
      We are a US 501(c)(3) non-profit organization dedicated to the development
      and promotion of the Ladybird web browser. Our mission is to create an
      independent, fast and secure browser that respects user privacy and
      fosters an open web. We are
      <a href="/organization#tax-exemption">tax-exempt</a> and rely on donations
      and sponsorships to fund our development efforts.
    </p>
    <p class="mt-8">
      <b>Ladybird Browser Initiative</b><br />
      2261 Market Street STE 10029<br />
      San Francisco, CA 94114-1612<br />
      EIN: 99-2154861<br />
    </p>
    <p>
      <a href="mailto:contact@ladybird.org">contact@ladybird.org</a>
    </p>
  </div>
</section>
