---
import Headshot from "./headshot.astro";
---

<section id="board" class="board single-content">
  <div class="container container-narrow">
    <h2>Leadership</h2>
    <h3 class="mb-4">Board of Directors</h3>
    <div class="headshots-grid">
      <Headshot
        fullName="Andreas Kling"
        title="President"
        image="/assets/img/leadership/andreas-kling.webp"
      />
      <Headshot
        fullName="Chris Wanstrath"
        title="Secretary, Treasurer"
        image="/assets/img/leadership/chris-wanstrath.webp"
      />
      <Headshot
        fullName="Tim Flynn"
        image="/assets/img/leadership/tim-flynn.webp"
      />
      <Headshot
        fullName="Mike Shaver"
        image="/assets/img/leadership/mike-shaver.webp"
      />
    </div>
    <h3 class="mb-4">Management</h3>
    <div class="headshots-grid">
      <Headshot
        fullName="Jelle Raaijmakers"
        title="Chief Operating Officer"
        image="/assets/img/leadership/jelle-raaijmakers.webp"
      />
    </div>
  </div>
</section>
