<section id="public-records" class="public-records single-content mb-16">
  <div class="container container-narrow">
    <h2 class="mb-4">Public Records</h2>
    <h3 class="mb-4">Governance</h3>
    <ul>
      <li>
        <a
          href="/assets/documents/public-records/2024-03-20-certified-articles-of-incorporation.pdf"
        >
          Certified Articles of Incorporation
        </a>
      </li>
      <li>
        <a href="/assets/documents/public-records/2024-03-25-bylaws.pdf">
          Bylaws of the Ladybird Browser Initiative
        </a>
      </li>
    </ul>
    <h3 id="tax-exemption" class="mb-4">Tax Exemption</h3>
    <ul>
      <li>
        <a
          href="/assets/documents/public-records/2025-05-15-irs-determination-letter.pdf"
        >
          IRS determination letter
        </a>
      </li>
      <li>
        <a
          href="/assets/documents/public-records/2024-06-26-irs-form-1023-submission-ladybird.pdf"
        >
          IRS Form 1023 submission
        </a>
      </li>
      <li>
        <a
          href="/assets/documents/public-records/2025-04-29-irs-information-request-tax-exempt-status.pdf"
        >
          IRS Tax-Exempt Status inquiry
        </a>
      </li>
      <li>
        <a
          href="/assets/documents/public-records/2025-05-14-irs-information-request-tax-exempt-status-response.pdf"
        >
          Ladybird's response to inquiry
        </a><br />
        Private addresses have been redacted in this response.
      </li>
    </ul>
    <h3 class="mb-4">Financials</h3>
    <p>To be published soon.</p>
  </div>
</section>
