---
import Head from "@/components/global/head.astro";
import Navigation from "@/components/global/navigation.astro";
import Footer from "@/components/global/footer.astro";
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
