---
import Head from "@/components/global/head.astro";
import Navigation from "@/components/global/navigation.astro";
import Footer from "@/components/global/footer.astro";

type Props = {
  title?: string;
  description?: string;
  author?: string;
  image?: string;
  children: any;
};
const { title, description, author, image } = Astro.props;
---

<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      author={author}
      image={image}
    />
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
