---
import type { Newsletter } from "@/content.config";
import BaseLayout from "@/layouts/base.astro";

type Props = {
  frontmatter: Newsletter;
  children: any;
};

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
>
  <div class="min-h-screen">
    <section class="hero hero_single">
      <div class="container custom-row">
        <h1 class="mx-auto text-center text-[#fff]">
          This Month in <span>Ladybird</span><br />
          {frontmatter.date.toLocaleString("default", { month: "long" })}
          {frontmatter.date.getFullYear()}
        </h1>
      </div>
    </section>
    <section class="single-content">
      <div class="container container-narrow">
        <slot />
      </div>
    </section>
  </div>
</BaseLayout>
