---
import type { Newsletter } from "@/content/config";
import BaseLayout from "@/layouts/base.astro";

type Props = {
  frontmatter: Newsletter;
  children: any;
};
const { frontmatter } = Astro.props;
const displayDate = frontmatter.title.split(" - ")[1];
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <section class="hero hero_single">
    <div class="hero__tf">
      <h1>This Month in Ladybird &mdash; {displayDate}</h1>
    </div>
  </section>
  <section class="single-content">
    <div class="container container-narrow">
      <slot />
    </div>
  </section>
</BaseLayout>
