---
import BaseLayout from "@/layouts/base.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div class="min-h-screen">
    <section class="hero hero_single">
      <div class="container custom-row">
        <h1 class="mx-auto text-center text-[#fff]">
          {frontmatter.date.toLocaleString("default", { month: "long" })}
          {frontmatter.date.getFullYear()} | Newsletter
        </h1>
      </div>
    </section>
    <section class="single-content">
      <div class="container container-narrow">
        <slot />
      </div>
    </section>
  </div>
</BaseLayout>
