@font-face {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("GeneralSans-Variable.woff2") format(woff2) tech(variations);
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("BerkeleyMonoVariable-Regular.woff2") format(woff2) tech(variations);
}
