<footer class="bg-[#000] py-0 md:px-20">
  <div class="container">
    <div
      class="flex items-center h-[335px] sm:h-[380px] bg-cover bg-no-repeat relative z-10 -top-[60px] rounded-[40px] md:rounded-[80px] bg-center bg-[url('../../../assets/img/discover-bg.webp')] w-full"
    >
      <div class="p-7 md:h-[335px] md:p-10 lg:py-12 lg:px-20">
        <h2 class="text-[#000] mb-1 text-[36px] lg:text-4xl">
          Sign up for our newsletter
        </h2>
        <p class="text-[#000] mb-6 max-w-[832px] lg:text-lg">
          We'll e-mail you once a month with updates about Ladybird.
        </p>

        <div class="flex flex-col">
          <form
            action="https://buttondown.com/api/emails/embed-subscribe/ladybird"
            method="post"
            class="form-subscribe validate"
            target="_blank"
          >
            <div class="form-group flex justify-center items-center">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Your e-mail"
                required
              />
              <button type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="38"
                  height="38"
                  viewBox="0 0 38 38"
                  fill="none"
                >
                  <rect
                    width="38"
                    height="38"
                    rx="4"
                    fill="url(#paint0_linear_60_603)"></rect>
                  <path
                    d="M29.7071 19.7071C30.0976 19.3166 30.0976 18.6834 29.7071 18.2929L23.3431 11.9289C22.9526 11.5384 22.3195 11.5384 21.9289 11.9289C21.5384 12.3195 21.5384 12.9526 21.9289 13.3431L27.5858 19L21.9289 24.6569C21.5384 25.0474 21.5384 25.6805 21.9289 26.0711C22.3195 26.4616 22.9526 26.4616 23.3431 26.0711L29.7071 19.7071ZM9 20L29 20L29 18L9 18L9 20Z"
                    fill="white"></path>
                  <defs>
                    <linearGradient
                      id="paint0_linear_60_603"
                      x1="0"
                      y1="19"
                      x2="38"
                      y2="19"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#6D98CC"></stop>
                      <stop offset="1" stop-color="#8A64E5"></stop>
                    </linearGradient>
                  </defs>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div>
      <div
        class="flex items-center md:items-start flex-col md:flex-row justify-between gap-10"
      >
        <div class="h-fit">
          <img class="max-w-48" src="/assets/img/logo-new.webp" alt="Logo" />
        </div>
        <div>
          <div class="flex gap-14">
            <div class="flex flex-col">
              <a href="/#about" class="mb-3 font-normal">About</a>
              <a href="/#news" class="mb-3 font-normal">News</a>
              <a href="/#gi" class="mb-3 font-normal">Get Involved</a>
            </div>

            <div class="flex flex-col">
              <a href="/#sponsors" class="mb-3 font-normal">Sponsors</a>
              <a href="/#faq" class="mb-3 font-normal">FAQ</a>
              <a href="mailto:contact@ladybird.org" class="font-normal mb-0"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex sm:flex-row flex-col gap-10 items-center justify-between py-[30px] pb-5 px-0 border-t-[#303030] border-t-[1px] mt-8 border-solid"
      >
        <div class="[&>p]:text-[#757575] font-normal">
          <p>© 2024. All rights reserved.</p>
        </div>
        <div class="flex flex-wrap items-center justify-center gap-1">
          <a
            href="https://github.com/LadybirdBrowser/ladybird"
            class="w-8 h-8 flex items-center justify-center rounded-full bg-[#16141b] hover:bg-[#8a64e5]"
          >
            <img src="/assets/img/github.svg" alt="GitHub" />
          </a>

          <a
            href="https://discord.gg/nvfjVJ4Svh"
            class="w-8 h-8 flex items-center justify-center rounded-full bg-[#16141b] hover:bg-[#8a64e5]"
          >
            <img src="/assets/img/discord.svg" alt="Discord" />
          </a>

          <a
            href="https://ladybird.org/posts.xml"
            class="w-8 h-8 flex items-center justify-center rounded-full bg-[#16141b] hover:bg-[#8a64e5]"
          >
            <img src="/assets/img/rss.svg" alt="RSS" />
          </a>

          <a
            href="https://x.com/ladybirdbrowser"
            class="w-8 h-8 flex items-center justify-center rounded-full bg-[#16141b] hover:bg-[#8a64e5]"
          >
            <img src="/assets/img/x.svg" alt="X/Twitter" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
