---
import "../../styles/global.css";

type Props = {
  title?: string;
  description?: string;
  author?: string;
  image?: string;
};
const { title, description, author, image } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="description"
  content={description !== undefined
    ? description
    : "Ladybird is a truly independent web browser, backed by a non-profit."}
/>

<meta property="og:title" content={title !== undefined ? title : "Ladybird"} />
<meta
  property="og:description"
  content={description !== undefined
    ? description
    : "Ladybird is a truly independent web browser, backed by a non-profit."}
/>
<meta
  property="og:image"
  content={image !== undefined
    ? image
    : "/assets/img/ladybird-purple-on-black.png"}
/>
<meta property="og:logo" content="/assets/img/avatar-black-purple.png" />
{author !== undefined ? <meta property="author" content={author} /> : null}

<title>{title !== undefined ? title : "Ladybird"}</title>
<link rel="stylesheet" href="/assets/fonts/stylesheet.css" />
<link rel="icon" href="/assets/img/ladybird_favicon.png" />

<link
  rel="alternate"
  type="application/rss+xml"
  title="Ladybird Browser Posts"
  href={new URL("posts.xml", Astro.site)}
/>
