---
import "../../styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<meta property="og:title" content="Ladybird" />
<meta
  property="og:description"
  content="Ladybird is a truly independent web browser, backed by a non-profit."
/>
<meta
  property="og:image"
  content="https://ladybird.org/ladybird-purple-on-black.png"
/>
<meta
  property="og:logo"
  content="https://ladybird.org/avatar-black-purple.png"
/>

<title>Ladybird</title>
<link rel="stylesheet" href="assets/fonts/stylesheet.css" />

<link rel="icon" type="image/x-icon" href="assets/img/ladybird_favicon.png" />
