<header class="header">
  <div class="header__eclipse"></div>
  <div class="container">
    <div class="header-wrapper">
      <div class="header__logo text-left">
        <a href="/index">
          <img class="ladybird-logo" src="assets/img/logo-new.webp" />
        </a>
      </div>

      <div class="header__nav text-center" id="navMenu">
        <div class="header__pages">
          <a href="/#about" class="header__nav-link">About</a>
          <a href="/#news" class="header__nav-link">News</a>
          <a href="/#gi" class="header__nav-link">Get Involved</a>
          <a href="/#sponsors" class="header__nav-link">Sponsors</a>
        </div>
      </div>

      <div class="header__cta text-right">
        <a href="https://donorbox.org/ladybird" class="btn btn--small"
          >Donate
        </a>
      </div>
    </div>
  </div>
</header>
